<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>遍历数组</title>
</head>
<body>
<div id="app">
  {{message}}
  <hr />
  <h2>在遍历的过程中没有使用索引值</h2>
  <ul>
    <li v-for="item in names">{{item}}</li>
  </ul>

  <h2>在遍历的过程中，获取索引值</h2>
  <ul>
    <li v-for="(item,index) in names">{{(index+1)+' '+item}}</li>
  </ul>
</div>


<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好世界！',
      names: ['why','kobe','job','hh']
    }
  })
</script>
</body>
</html>